/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    padding-left: 1em;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: rgb(245,211,145);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(245,211,145)), to(rgb(179,204,159)));
    background-image: -webkit-linear-gradient(top, rgb(245,211,145), rgb(179,204,159));
    background-image:    -moz-linear-gradient(top, rgb(245,211,145), rgb(179,204,159));
    background-image:      -o-linear-gradient(top, rgb(245,211,145), rgb(179,204,159));
    background-image:         linear-gradient(to bottom, rgb(245,211,145), rgb(179,204,159));
    color: rgb(0,19,51);
    font-family: "Open Sans", sans-serif;
    height: 100%;
    overflow: auto;
}

body > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 65em;
}

footer {
    font-size: 1ex;
    text-align: center;
    width: 90%;
}

header {
	padding: 1ex 0;
	text-align: center;
}

h1 {
    padding: 0 1ex;
    /*color: rgb(213, 77, 123);*/
    color: rgb(127,22,76);
    font-family: "Great Vibes", cursive;
    font-size: 4.5em; /* 165px; */
    line-height: 1;
    font-weight: normal;
    margin: 0;
    padding: 0 1ex;
    text-align: center;
    /* 3D Text: http://markdotto.com/playground/3d-text/ */
    text-shadow: 0 1px 0 #caa,
                 0 2px 0 #b7a7a7,
                 0 3px 0 #c99,
                 0 4px 0 #cb9898,
                 0 5px 0 #c88,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}

h1 span {
    display: block;
    -webkit-transform: matrix(0.978,-0.210,-0.184,1.062,0,0);
       -moz-transform: matrix(0.978,-0.210,-0.184,1.062,0px,0px);
        -ms-transform: matrix(0.978,-0.210,-0.184,1.062,0,0);
         -o-transform: matrix(0.978,-0.210,-0.184,1.062,0,0);
            transform: matrix(0.978,-0.210,-0.184,1.062,0,0);

}

/* Ribbon styles */
.ribbon {
    background: #004B67;
    box-shadow: rgba(0,0,0,0.4) 0px 2px 6px;
    color: rgb(179,204,159);
    font-size: 16px !important;
    margin: 2em auto 3em;
    padding: 1em 2em;
    position: relative;
    text-align: center;
    margin: 2em auto 3em;
    width: 35%; /* 24em; */
}

.ribbon:before, 
.ribbon:after {
    content: "";
    border: 1.5em solid #004B67;
    bottom: -1em;
    display: block;
    position: absolute;
    z-index: -1;
}

.ribbon:before {
    border-right-width: 1.5em;
    border-left-color: transparent;
    left: -2em;
}

.ribbon:after {
    border-left-width: 1.5em;
    border-right-color: transparent;
    right: -2em;
}

.ribbon .ribbon-content:before, 
.ribbon .ribbon-content:after {
    border-style: solid;
    border-color: #804f7c transparent transparent transparent;
    bottom: -1em;
    content: "";
    display: block;
    position: absolute;
}

.ribbon .ribbon-content:before {
    border-width: 1em 0 0 1em;
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
    border-width: 1em 1em 0 0;
    right: 0;
    border-width: 1em 1em 0 0;
}


h3 {
    color: rgb(0,75,103);
    font-family: "Rambla", "Open Sans", sans-serif;
    text-shadow: -1px 1px 0 rgb(65,204,180);
}

a:link, 
a:visited { color: #00f; }














/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
